.Profile {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
}

.Profile ul {
list-style: none;
padding: 0;
margin: 0;
}

.Profile li {
    padding: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 0 1rem 0;
    background: rgb(215, 230, 194);
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.Profile li:last-child {
    margin-bottom: 0;
    border: none;
}

.Profile li img {
    max-width: 100%;
    height: 200px;
}

.Profile li .postComments {
    font-size: 0.8rem;
    overflow-y: scroll;
    max-height: 100px;
}

.Profile li .postComments p {
    border-top: 1px solid gray;
}

.Profile li .postComments p::first-letter {
    font-size: 1.1rem;
}

