.Profile, .Feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .Feed .info {
    background-color: rgba(243, 156, 18, 0.1);
    border: 1px solid var(--secondary-color);
    border-radius: var(--radius);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Feed .info button {
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    margin-left: 10px;
  }
  
  .Feed .info button:first-of-type {
    background-color: var(--secondary-color);
    color: white;
  }
  
  .Feed .info button:hover {
    opacity: 0.9;
  }